<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'paginas/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'paginas/css/login.css' %}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="conteudo">
        <h1 class="h1">Sistema automação</h1>

        <form class="form" action="{% url 'login'%}" method="POST">{% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome de usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="senha">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">lembrar-me</label>
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
          <a class="btn btn-primary" href="{% url 'cadastro' %}">Cadastre-se</a>
            <div class="erro">
                {% if messages %}
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                {% endif %}
            </div>
        </form>

    </div>

</body>
</html>
